NEXT_PUBLIC_API_URL=http://localhost:3000/api
DATABASE_URL="postgresql://neondb_owner:npg_UrE8DKSgp9mw@ep-aged-glade-amjig5g8-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:npg_UrE8DKSgp9mw@ep-aged-glade-amjig5g8.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"